@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-ball{
  background-image: url('./assets/bg_vall.jpg');
  margin-top: -1px;
  margin-bottom: -1px;
}

.img-league{
  background-image: url('./assets/league.jpg');
  background-position: center;
  background-size: cover;
}

.img-team{
  background-image: url('./assets/team.jpg');
  background-position: center;
  background-size: cover;
}

.logo-ball{
  fill: rgb(207, 42, 42)
}